body {
    background-color: black;
    background-color: rgba(3, 3, 3, 0.8);
}

.nav_bar {
    width: 100%;
    height: 100px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    -webkit-alight-items: center;
}

#hero_logo {
    width: 300px;
    height: 75px;
    margin: 10px 0;
    border-radius: 5px;
}

.printer_module {
    background-color: gray;
    margin: 15px 0;
    border: 5px solid gray;
    border-radius: 5px;
}

.printer_module .offline {
    background-color: gray;
    border: 5px solid gray;
}

.printer_module .error {
    background-color: red;
    background-color: rgb(210, 5, 5);
    border: 5px solid red;
    border: 5px solid rgb(210, 5, 5);
}

.printer_module .idle {
    background-color: cyan;
    background-color: rgb(14, 167, 194);
    border: 5px solid cyan;
    border: 5px solid rgb(14, 167, 194);
}

.printer_module .warming {
    background-color: yellow;
    background-color: rgb(236, 227, 24);
    border: 5px solid yellow;
    border: 5px solid rgb(236, 227, 24);
}

.printer_module .printing {
    background-color: green;
    background-color: rgb(48, 143, 52);
    border: 5px solid green;
    border: 5px solid rgb(48, 143, 52);
}

.printer_module .printer_name {
    width: 100%;
    text-align: center;
    font-size: 30px;
    padding: 0 0 5px 0;
}

.printer_module .snapshot {
    width: 100%;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.printer_module .status {
    position: relative;
    width: 100%;
    text-align: center;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    /*transition-delay: 0.1s;*/
}

.progress {
    position: relative;
    margin: 10px 5px 5px 5px;
}

.toolbar {
    position: relative;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    -webkit-align-items: center;
    width: 100%;
    height: 50px;
    background-color: black;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.toolbar .icon {
    position: relative;
    width: 35px;
    height: 35px;
}

.status_overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 0;
    width: 100%;
    position: relative; /* Stay in place */
    z-index: 1; /* Sit on top */
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.5); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.25s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.status_overlay-content {
    position: relative;
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.status_overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.status_overlay a:hover, .status_overlay a:focus {
    color: #f1f1f1;
}

/* MODAL */

.octo_slack_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.octo_slack_modal_content {
    position: relative;
    background-color: #fefefe;
    margin: 100px auto;
    padding: 0;
    border: 2px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -moz-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.snapshot_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: none;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: center;
}

.snapshot_modal_content {
    position: relative;
    display: inline-block;
    background-color: #fefefe;
    margin: 100px auto;
    padding: 0;
    border: 2px solid #888;
    border-radius: 10px;
    /*width: 50%;*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -moz-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.snapshot_modal_content img {
    display:block;
    margin: 0 auto;
    border-radius: 10px;
}

/* The Close Button */
.close_button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close_button:hover,
.close_button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from { top: -300px; opacity: 0 }
    to { top: 0; opacity: 1 }
}

@keyframes animatetop {
    from { top: -300px; opacity: 0 }
    to { top: 0; opacity: 1 }
}









/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
    .snapshot_modal_content {
        width: 80%;
    }
    .snapshot_modal_content img {
        width:100%;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width:100%
    }
}
