.overlay {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Sit on top */
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.3s;
    -moz-animation-name: fadeIn;
    -moz-animation-duration: 0.3s;
    animation-name: fadeIn;
    animation-duration: 0.3s;
}

/* Position the content inside the overlay */
.info_overlay_content {
    position: relative;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.3s;
    -moz-animation-name: slideIn;
    -moz-animation-duration: 0.3s;
    animation-name: slideIn;
    animation-duration: 0.3s;
}

.info_overlay_content .text_line {
    display: block;
    padding: 8px;
    overflow:hidden;
}

.info_overlay_content .text_line div {
    display:inline-block;
    margin-right: 3px;
    font-size: 12px;
    color: #818181;
}

.settings_overlay {
    height: 100px;
}

/* Position the content inside the overlay */
.settings_overlay_content {
    position: relative;
    text-align: center; /* Centered text/links */
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.3s;
    -moz-animation-name: slideIn;
    -moz-animation-duration: 0.3s;
    animation-name: slideIn;
    animation-duration: 0.3s;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    -webkit-align-items: center;
    width: 100%;
    height: 50px;
}

/* The navigation links inside the overlay */
.settings_overlay_content a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.settings_overlay_content a:hover, .settings_overlay_content a:focus {
    color: #f1f1f1;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}
